/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";


@media print {
    .breadcrumb {
        display: none !important;
    }
}

body{
    font-size:0.825rem;
}
body .ui-widget {
    font-size: 0.825rem!important; /*table font size */
}
.form-control{
    font-size: 0.825rem!important; /*form font size*/
}

