<div class="container">
  <div class="row pt-5 justify-content-md-center">
    <div class=" col-md-7 card bg-light">
      <form [formGroup]="resetPasswordForm" class="resetPasswordForm" validate>
        <div class="row justify-content-md-center">
            <div class="col-md-7 pt-5 col-sm-12">
               <div class="form-group required row">
                    <label class="column col-md-6"> Reset Password</label>
                     <show-hide-password class="column show-hide col-md-5 pl-0 pr-0" size="sm" btnStyle="primary" [btnOutline]="false">
                         <input type="password" class="pb-1 form-control" formControlName="new_password" #new_password/>
                    </show-hide-password>
                </div>
                <div *ngIf="resetPasswordForm.controls['new_password'].invalid && (resetPasswordForm.controls['new_password'].dirty || 
                            resetPasswordForm.controls['new_password'].touched)">
                  <div *ngIf="resetPasswordForm.controls['new_password'].errors.required"  class="alert alert-danger">
                      Password is required.
                  </div>
                </div>
                <!-- <div *ngIf="resetPasswordForm.value.password === resetPasswordForm.value.new_password" class="alert alert-danger">
                    Old password and new password should be different.     
                </div> -->
                <div class="form-group required row">
                  <label class="column col-md-6"> Confirm Password</label>
                   <show-hide-password class="column show-hide col-md-5 pl-0 pr-0" size="sm" btnStyle="primary" [btnOutline]="false">
                       <input type="password" class="pb-1 column " formControlName="confirm_password" #confirm_password/>
                  </show-hide-password>
              </div>
              <div *ngIf="resetPasswordForm.controls['confirm_password'].invalid && (resetPasswordForm.controls['confirm_password'].dirty || 
                          resetPasswordForm.controls['confirm_password'].touched)" >
                <div *ngIf="resetPasswordForm.controls['confirm_password'].errors.required" class="alert alert-danger">
                    Please confirm your password.
                </div>
                <!-- <div *ngIf="form_controls.confirm_password.errors?.mustMatch"> -->
                  <!-- <div  *ngIf="resetPasswordForm.hasError('notSame', 'passwords')"> -->
                  <div *ngIf="resetPasswordForm.value.new_password !== resetPasswordForm.value.confirm_password" class="alert alert-danger">
                      Passwords don't match.
                  </div> 
              </div>
               
             
                <div class="form-group">
                    <button (click)="change_password()" 
                        [disabled]="resetPasswordForm.pristine"
                        class="btn btn-primary submit-button">Change Password
                    </button>
                </div>
             </div>
              <div class="col-md-4">
                  <img src="assets/img/password-reset.png" class="login-image"   alt="password-reset">
            </div>
         </div>
      </form>
    </div>
  </div>
  </div>
  