.page-heading{
    /* color:#fff; */
    text-align: center;
    
    /* background-color: #333; */
    overflow: hidden;
    position: fixed; /* Set the header to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:1050;
}
.logo{
    /* width:65%; */
    padding-left: 1rem;
}

