<div class="row  pt-5  justify-content-md-center">
  <div class="col-md-5  pb-4 card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Tekenlight Supply Chain Hub</h4>
        <p class="text-center">Get started now</p>
        <div>
            <a href="../user-registration" class="btn btn-block btn-company"> Click here to Register Company</a>
            <p class="divider-text">
                <span class="bg-light ">OR</span>
            </p>
            <a href="../login" class="btn btn-block btn-login">  Click here to Login </a>
        </div>
    </article>
  </div> 
</div>